$color: #fda900

.projects

    h3
        span:first-child
            color: $color

        span:nth-child(2)
            color: lighten($color, 5%)

        span:nth-child(3)
            color: lighten($color, 10%)

    .ui.cards
        margin-top: 4rem

        > .ui.card
            $border-radius: 16px

            margin: 0 -1em
            min-width: 260px

            border-radius: $border-radius
            box-shadow: 0px 6px 18px transparentize(black, 0.95)

            transform: perspective(50em) rotateY(10deg)

            transition: margin-left 0.6s ease, margin-right 0.6s ease, transform 0.6s ease

            img
                border-radius: $border-radius $border-radius 0 0 !important

            .content
                text-align: left

                border-top: none

                .description
                    min-height: 3em

            .ui.labels
                margin-top: 0.8em

                i
                    padding-right: 0.3em

                    font-size: 1.2em

                    display: inline-block

                    transform: translateY(0.12em)

        > .ui.card:hover
            margin: 0 4em

            transform: rotateZ(-2deg)

            z-index: 0

        > .ui.card:nth-child(even):hover
            transform: rotateZ(2deg)

@media only screen and (max-width: 1199px)
    .projects

        .ui.cards
            zoom: 0.95

@media only screen and (max-width: 1366px)
    .projects

        .ui.cards

            > .ui.card:hover, > .ui.card:nth-child(even):hover
                margin: 0 -1em

                transform: perspective(50em) rotateY(10deg)

@media only screen and (max-width: 991px)
    .projects

        h3.ui.header
            margin-top: 0

            font-size: 1.1em

        .ui.cards
            zoom: 0.6

            > .ui.card

                .content .description
                    min-height: 2em
                    line-height: 1.2em

                .ui.labels
                    margin-top: 0.25em

                    .label
                        padding-top: 0

                        font-size: 0.62rem

                        border-radius: 0.2rem

            > .ui.card:hover, > .ui.card:nth-child(even):hover
                margin: 0 -1em

                transform: perspective(50em) rotateY(10deg)

@media only screen and (max-width: 484px)
    .projects

        .ui.cards
            zoom: 1

            > .ui.card
                margin-top: 4rem

                .ui.labels
                    margin-top: 1rem

                    .label
                        padding-top: 0.4em

            > .ui.card:first-child
                margin-top: 0
