.ui.vertical.segment.hero-segment
    padding: 0
   
    min-height: 100vh
    
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    background-color: #fda900

.hero-navigation
    position: absolute
    top: 0px