.ui.header.elevator-header
    padding-top: 0.5em 
    text-align: center 
    font-size: 52px
    font-family: 'Pacifico'
    transform: rotateZ(-2.5deg) 

.ui.header.elevator-sub
    padding-top: 0.5em 
    text-align: center 
    font-size: 18px
    font-weight: normal

.ui.grid.elevator-buttons
    padding-top: 2em