.ui.container

    .ui.grid > .row
        justify-content: center

    .about-imprint
        float: right

        p, span, strong
            display: block

        $link-color: #fda900

        a
            color: $link-color

            transition: color 0.2s ease

        a:hover
            color: lighten($link-color, 10%)

        a:active
            color: darken($link-color, 5%)

    .ui.grid.about-langs
        font-size: 48px

        .row
            padding: 0 0 1rem 1rem

            justify-content: flex-start

            > .column
                padding: 1rem 1rem 0 0
                width: auto

                i
                    height: 1em

                    display: inline-block

                i::before
                    position: relative
                    top: 0.3em
