.footer

    .ui.inverted.vertical.segment.footer-segment
        background-color: #fda900

        color: white

        .footer-container

            .brand
                color: white

            p:last-of-type
                color: transparentize(white, 0.4)

            .ui.grid .column:last-child

                .footer-azure

                    img
                        filter: brightness(1)

                    p
                        color: white

    .ui.vertical.segment.footer-segment

        .footer-container
            padding: 3em 10em

            p:last-of-type
                font-size: 12px
                color: transparentize(black, 0.4)

            .ui.grid .column:last-child
                display: flex
                flex-direction: column
                justify-content: center
                align-items: flex-end

                .footer-azure
                    opacity: 0.9

                    img
                        width: 8em

                        filter: brightness(0)

                    p
                        margin: 0 0 0.4em 0
                        padding: 0

                        font-weight: bold
                        color: black
